*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 80px;
    background-color: white;
    background-color: #444444;
    background-color: var(--DarkAccent);
    background-color: var(--LightShades);
    color: white;
    color: #333;
    position: relative;
    /* box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.1); */
    z-index: 10;
    position: sticky;
    top: 0;


}

/* responsive */
nav.active {
    flex-direction: column;
    align-items: flex-start;
}

nav h2.logo {
    font-weight: bold;
    font-size: xx-large;
}

nav .bars {
    position: absolute;
    right: 1rem;
    font-size: xx-large;
    display: none;
}

ul.nav-links {
    display: flex;
}

/* responsive */
nav.active ul.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

li.nav-link {
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
}

li.nav-link:hover {
    color: var(--DarkShades);
    color: var(--DarkType);
    text-decoration: underline;
    /* font-weight: 600; */
}

/* li.nav-link.auth {
    border: 2px solid white;
    border-radius: 1rem;
} */

li.nav-link a {
    text-decoration: none;
    color: inherit;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: large;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    nav .bars {
        display: block;
    }

    nav .nav-links {
        display: none;
    }

    nav {
        padding: 1rem 20px;
    }
}